# Node modules
node_modules/

# Build output
dist/
build/

# Logs
logs/
*.log

# IDE and editor files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.env

# Testing
coverage/

# Database files
db/*.sqlite  # Adjust for your database file format

